<!DOCTYPE html>
<html>
  <head>
    <title>Details page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      
  </head>
  <body style="background-color: darkturquoise">

      <div style="margin:30px;">
          <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="/">INDEX |</a>
          <a class="navbar-brand" href="/home">HOME |</a>
          
            
            
              <a class="navbar-brand" href="/products">CHECK AUCTION STATUS |</a>
                      <a class="navbar-brand" href="/cb">START BIDDING |</a>
          
        </div>
      </nav>
      <br>

      <h1><ul>AUCTION DETAILS</ul></h1>
      <hr>
      <br>
      <br>
      <br>
      
      
      
      
      <div id="details">
        <p style="background-color:yellow"><b>CAR MODEL</b> : <%= car[0] %></p>
        <br>
        <p style="background-color:yellow"></pstyle><b>CAR RNUMBER</b> : <%= car[1] %></p>
        <br>
        <p style="background-color:yellow"><b>CURRENT CAR OWNER</b> : <%= car[2] %></p>
        <br>
        <p style="background-color:yellow"><b>AUCTION OWNER</b> : <%= data[3] %></p>
        <br>
        <p id="endingTime" style="background-color:yellow"><b>AUCTION END</b> : <%= data[0] %></p>
        <br>
        <p style="background-color:yellow"><b>HIGHEST BID</b> : <%= HighestBid %> </p>
        <br>
        <p style="background-color:yellow"><b>HIGHEST BIDDER</b> : <%= data[2] %></p>
        <br>
        <p style="background-color:yellow"><b>AUCTION STATUS</b> : <%= state %></p>
    </td>
    </div>
    <td>


    </body>
    </html>